body {
  background-color: grey;
  font-family: "Times New Roman", serif;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

#navbar {
  background-color: rgb(44, 73, 83);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 10px;
  gap: 20px;
}

.navbar li {
  list-style: none;
  display: inline;
  margin: 0 20px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(44, 73, 83);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline;
}

.button button {
  display: inline;
}

.full-width-image {
  width: 100%;
  height: calc(100vh - 70px); /* Adjust height to fit below the navbar */
  object-fit: cover;
  opacity: 80%;
}

.footer {
  background-color: #f0f0f0; /* light gray background */
  padding: 20px; /* add some padding to make it look nicer */
  text-align: center; /* center the text */
  clear: both; /* make sure the footer clears any floats */
}

.footer p {
  margin-bottom: 10px; /* add some space between paragraphs */
}

.footer a {
  text-decoration: none; /* remove underline from links */
  color: #337ab7; /* blue color for links */
}

.footer a:hover {
  color: #23527c; /* darker blue on hover */
}

.footer .social-links {
  font-size: 18px; /* make the social links a bit larger */
}

.footer .social-links a {
  margin: 0 10px; /* add some space between social links */
}

.footer .contact-info {
  font-size: 16px; /* make the contact info a bit smaller */
}
